.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 500px;
    height: 200px;
    border: 4px solid #1DA1F2;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    color: #14171A;
}

.name {
    font-weight: bold;
    margin-top: 6px;
}

.email {
    text-decoration: none;
    color: #1DA1F2;
}

.del-btn {
    background-color: #E1E8ED;
    border: 2px solid #AAB8C2;
}

.title {
    margin-top: 15px;
    margin-bottom: 6px;
}

.text {
    margin-top: 0px;
}