.container {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 5px;
    background-color: black;
}

.title {
    font-size: 18px;
    color: gold;
    padding-bottom: 5px;
    text-align: center;
}

.title-text {
    font-size: 14px;
    color: grey;
}

.list {
    font-size: 16px;
    color: coral;
    margin-bottom: 5px;
}

.list-characters {
    padding-top: 5px;
    font-size: 15px;
    color: goldenrod;
}


/* .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */