.btn-get-ip {
    width: 100px;
    height: 50px;
    background-color: #FAEA4A;
    border: 2px solid #57A5DE;
    color: #D28457;
    font-size: 14px;
    border-radius: 10px;
}

.container {
    font-size: 18px;
    color: #57A5DE;
}